In [1]:
import pandas as pd

In [47]:
data=pd.read_csv(r'C:\Users\easky\OneDrive\Masaüstü\datasets\european_soccer\Player_Attributes.csv')
data.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   100 non-null    int64
 1   player_fifa_api_id   100 non-null    int64
 2   player_api_id        100 non-null    int64
 3   date                 100 non-null    object
 4   overall_rating       100 non-null    int64
 5   potential            100 non-null    int64
 6   preferred_foot       100 non-null    object
 7   attacking_work_rate  100 non-null    object
 8   defensive_work_rate  100 non-null    object
 9   crossing             100 non-null    int64
 10  finishing            100 non-null    int64
 11  heading_accuracy     100 non-null    int64
 12  short_passing        100 non-null    int64
 13  volleys              100 non-null    int64
 14  dribbling            100 non-null    int64
 15  curve                100 non-null    int64
 16  free_kick_accuracy   100 non-null    int64
 17  long_passing         100 non-null    int64
 18  ball_control         100 non-null    int64
 19  acceleration         100 non-null    int64
 20  sprint_speed         100 non-null    int64
 21  agility              100 non-null    int64
 22  reactions            100 non-null    int64
 23  balance              100 non-null    int64
 24  shot_power           100 non-null    int64
 25  jumping              100 non-null    int64
 26  stamina              100 non-null    int64
 27  strength             100 non-null    int64
 28  long_shots           100 non-null    int64
 29  aggression           100 non-null    int64
 30  interceptions        100 non-null    int64
 31  positioning          100 non-null    int64
 32  vision               100 non-null    int64
 33  penalties            100 non-null    int64
 34  marking              100 non-null    int64
 35  standing_tackle      100 non-null    int64
 36  sliding_tackle       100 non-null    int64
 37  gk_diving            100 non-null    int64
 38  gk_handling          100 non-null    int64
 39  gk_kicking           100 non-null    int64
 40  gk_positioning       100 non-null    int64
 41  gk_reflexes          100 non-null    int64
dtypes: int64(38), object(4)
memory usage: 32.9+ KB

In [49]:
data.shape

(100, 42)

## DROP ALL THE COLOUMNS IF THEY ARE NOT INTEGER except Preferred_Foot

In [28]:

integer_columns = data.select_dtypes(include='int64').columns

# Add 'preferred_foot' column to the integer_columns list
integer_columns = list(integer_columns) + ['preferred_foot']
data = data[integer_columns]

In [31]:
gg = data.groupby('preferred_foot')
type(gg)

pandas.core.groupby.generic.DataFrameGroupBy

In [34]:
data.groupby('preferred_foot').mean()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
preferred_foot,,,,,,,,,,,,,,,,,,,,,
left,21.000000,189615.000000,155782.000000,67.870968,75.419355,73.935484,49.548387,53.00000,63.774194,29.096774,...,58.709677,54.677419,70.451613,70.322581,72.064516,12.580645,7.806452,12.000000,9.612903,12.322581
right,63.753623,141529.608696,117099.188406,67.927536,71.695652,57.405797,41.376812,65.42029,64.101449,46.463768,...,56.623188,49.333333,52.565217,51.304348,51.188406,11.942029,10.550725,19.275362,10.826087,11.579710

In [37]:
data.groupby('preferred_foot')['potential'].mean()

preferred_foot
left     75.419355
right    71.695652
Name: potential, dtype: float64

#Calculate multiple aggregations (mean and max) for multiple columns based on preferred_foot

In [40]:
result = data.groupby('preferred_foot').agg({'overall_rating': ['mean', 'max'], 'potential': ['mean','max']})

result

               overall_rating      potential
                         mean max       mean max
preferred_foot
left                67.870968  74  75.419355  80
right               67.927536  75  71.695652  82

In [42]:
result = data.groupby('preferred_foot').agg({'overall_rating': ['mean', 'max'], 'potential': ['mean','max'] , 'finishing' : ['mean', 'max']})

result

               overall_rating      potential      finishing
                         mean max       mean max       mean max
preferred_foot
left                67.870968  74  75.419355  80  49.548387  53
right               67.927536  75  71.695652  82  41.376812  69

In [44]:
result = data.groupby('preferred_foot').size()

result

preferred_foot
left     31
right    69
dtype: int64

In [45]:
result = data.groupby('preferred_foot').count()

result

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
preferred_foot,,,,,,,,,,,,,,,,,,,,,
left,31,31,31,31,31,31,31,31,31,31,...,31,31,31,31,31,31,31,31,31,31
right,69,69,69,69,69,69,69,69,69,69,...,69,69,69,69,69,69,69,69,69,69

#  we are grouping the data by "preferred_foot" and "overall_rating" and then calculating the mean of the "crossing" and "potential" columns for each group.

In [74]:
trial = data.groupby(["preferred_foot", "overall_rating"])[["crossing", "potential"]].mean()

# Print the result
trial

                                crossing  potential
preferred_foot overall_rating
left           47              22.000000  60.000000
               51              57.000000  64.000000
               52              58.000000  65.000000
               54              58.000000  65.000000
               64              74.000000  68.000000
               65              77.000000  68.000000
               68              77.000000  80.000000
               69              77.000000  79.714286
               70              77.000000  78.666667
               71              78.000000  76.333333
               73              79.000000  75.800000
               74              79.666667  76.666667
right          53              22.000000  60.000000
               59              63.000000  70.000000
               61              48.000000  65.000000
               62              49.000000  66.000000
               65              65.833333  71.500000
               66              64.000000  70.000000
               67              57.846154  69.692308
               68              63.000000  72.800000
               69              59.538462  71.538462
               70              61.555556  73.555556
               71              63.000000  78.000000
               72              45.000000  72.000000
               73              50.000000  76.000000
               74              48.500000  75.000000
               75              60.000000  82.000000

In [76]:
trial = data.groupby(["preferred_foot", "overall_rating"])[["crossing", "potential"]].mean().reset_index()

# Print the result
trial

   preferred_foot  overall_rating   crossing  potential
0            left              47  22.000000  60.000000
1            left              51  57.000000  64.000000
2            left              52  58.000000  65.000000
3            left              54  58.000000  65.000000
4            left              64  74.000000  68.000000
5            left              65  77.000000  68.000000
6            left              68  77.000000  80.000000
7            left              69  77.000000  79.714286
8            left              70  77.000000  78.666667
9            left              71  78.000000  76.333333
10           left              73  79.000000  75.800000
11           left              74  79.666667  76.666667
12          right              53  22.000000  60.000000
13          right              59  63.000000  70.000000
14          right              61  48.000000  65.000000
15          right              62  49.000000  66.000000
16          right              65  65.833333  71.500000
17          right              66  64.000000  70.000000
18          right              67  57.846154  69.692308
19          right              68  63.000000  72.800000
20          right              69  59.538462  71.538462
21          right              70  61.555556  73.555556
22          right              71  63.000000  78.000000
23          right              72  45.000000  72.000000
24          right              73  50.000000  76.000000
25          right              74  48.500000  75.000000
26          right              75  60.000000  82.000000

# Normalize the "overall_rating" within each preferred_foot group using z-score

In [78]:
def normalize_zscore(x):
    return (x - x.mean()) / x.std()

data['overall_rating_normalized'] = data.groupby('preferred_foot')['overall_rating'].transform(normalize_zscore)

# Print the result
print(data[['preferred_foot', 'overall_rating', 'overall_rating_normalized']])

   preferred_foot  overall_rating  overall_rating_normalized
0           right              67                  -0.219644
1           right              67                  -0.219644
2           right              62                  -1.403664
3           right              61                  -1.640468
4           right              61                  -1.640468
..            ...             ...                        ...
95          right              73                   1.201179
96          right              73                   1.201179
97          right              74                   1.437983
98          right              74                   1.437983
99          right              74                   1.437983

[100 rows x 3 columns]

In [83]:
filtered_data = data[data['overall_rating_normalized'] > 1]
filtered_data

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,overall_rating_normalized
82,83,140161,30572,2009-08-30 00:00:00,74,78,right,medium,high,59,...,59,78,76,70,14,11,64,11,10,1.437983
83,84,140161,30572,2009-02-22 00:00:00,75,82,right,medium,high,60,...,60,80,78,70,14,11,65,11,10,1.674787
84,85,140161,30572,2008-08-30 00:00:00,73,82,right,medium,high,60,...,60,77,74,70,14,11,61,11,10,1.201179
95,96,17725,23780,2013-09-20 00:00:00,73,73,right,medium,medium,45,...,44,80,74,75,7,5,15,11,10,1.201179
96,97,17725,23780,2013-05-10 00:00:00,73,73,right,medium,medium,45,...,44,80,74,75,7,5,15,11,10,1.201179
97,98,17725,23780,2013-04-26 00:00:00,74,74,right,medium,medium,45,...,44,81,75,76,7,5,15,11,10,1.437983
98,99,17725,23780,2013-03-22 00:00:00,74,74,right,medium,medium,45,...,44,81,75,76,7,5,15,11,10,1.437983
99,100,17725,23780,2013-03-08 00:00:00,74,74,right,medium,medium,45,...,44,81,75,76,7,5,15,11,10,1.437983

# Calculate the difference between the max and min overall_rating for each preferred_foot group

In [86]:
def max_min_diff(x):
    return x.max() - x.min()
result = data.groupby('preferred_foot')['overall_rating'].apply(max_min_diff)

print(result)

preferred_foot
left     27
right    22
Name: overall_rating, dtype: int64

In [91]:
def cal_average(x):
    crossing_avg = x['crossing'].mean()
    poteantial_avg= x['potential'].mean()
    return pd.Series({'crossing_avg':crossing_avg, 'poteantial_avg': poteantial_avg})

result = data.groupby('preferred_foot').apply(cal_average)

result

                crossing_avg  poteantial_avg
preferred_foot
left               73.935484       75.419355
right              57.405797       71.695652